<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<meta charset="UTF-8">
		<title>To Do's</title>
	</head>
	<body style="background-color:rgb(235,240,246)">
	    <!-- logo and title-->
	    <div class="container">
	        <div class="row">
	                 <div class="col-md-4">
	                        <a href="{% url 'todo_list' %}">
	                            <button type="submit" class="btn btn-primary btn">Home</button>
	                        </a>
	                </div>
	                <div class="col-md-4">
                            <h1 class="text-center"><b>Welcome to Todo</b></h1>
                         </div>
                </div>
                <hr style="width: 100%; color: black; height: 1px; background-color:black;" /><hr>
        {% block content %}

        {% endblock %}
	</body>
</html>