{% extends 'todo/base.html' %}

{% block content %}
			<p class="text-center"><b>To create your Todo just fill in the task, due date and progress.</b><br><br></p>
			<!-- input -->

            <div class="container">

				<form method="POST" class="text-center">{% csrf_token %}
                    {{ form.as_p }}

                    <div class="col-xs-12" style="height:50px;"></div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary btn">Save</button>
                        <p class="text-center" style="height:25px">
                            <a href="{% url 'todo_impr' %}"><br>Impressum</a>
                        </p>
                    </div>

  				</form>
			</div>
{% endblock %}