{% extends 'todo/base.html' %}

{% block content %}
			<!-- data input -->
			<p class="text-center"><b>To modify your Todo just fill in the field you want to update.</b><br><br></p>
			<div class="container">
			<form method="POST" class="text-center">{% csrf_token %}
                    {{ form.as_p }}

                    <div class="col-xs-12" style="height:50px;"></div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary btn">Save</button>
                        <p class="text-center" style="height:25px">
                            <a href="{% url 'todo_impr' %}"><br>Impressum</a>
                        </p>
                    </div>

			</form>
			</div>
{% endblock %}